{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceInsensitivity": "css",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "singleAttributePerLine": true,
        "htmlWhitespaceInsensitivity": "strict"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100,
        "singleQuote": true
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
